<dl class="govuk-data-list">
  {% for row in params.rows %}
    <div class="govuk-data-list__row">
      <dt class="govuk-data-list__item govuk-data-list__item--definition">
        {{ row.key }}
      </dt>
      <dd class="govuk-data-list__item">
        {% if row.text %}
          <span>{{ row.text }}</span>
        {% else %}
          {{ row.html | safe }}
        {% endif %}
      </dd>
      <dd class="govuk-data-list__action">
        {% if row.actions %}
          <ul class="govuk-data-list__action-list">
            {% for action in row.actions %}
              <li class="govuk-data-list__action-list-item">
                <a class="govuk-link" href="{{ action.href }}">
                  {{ action.text }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </dd>
    </div>
  {% endfor %}
</dl>